fastapi
uvicorn[standard]
python-multipart
python-decouple

google-generativeai
langchain
langchain-google-genai
requests
beautifulsoup4
asyncio
pymongo
serper-api
python-dotenv

langchain-community
pydantic

